body{
    background: url("images/background/background.png");
    text-align: center;
    margin: 0 !important;
    padding: 0px;
}

#header{
    position: fixed;
    top: 0;     
    width: 100%;
    height: 60px;    
    background-color: #ffcb05;
    border-bottom: 2px solid #316ab2;       
}

#sideBar{
    position: relative;
    top: 80px;
    left: 190px;
    z-index: -1;
    background: #ffffff;
    height: 350px;
    width: 250px;
    border: 2px solid #316ab2;
    float: left;
}

#sideBar #tooltipPic{
    position: relative;
    top: 10px;   
    width: 100%;
    height: 50%;   
}


#sideBar #tooltipPokedex{
    position: relative;
    top: -28px;
    background: #f3eeea;
    width: 100%;
    height: 45%;
}


#containerMain{
    position: relative;
    top: 80px;
    z-index: -1;
    width: 960px;
    height: 800px;
    margin: auto;
}

#starterPokemon{
    position: relative;
    right: 20px;
    width: 30%; 
    height: 100%;
    margin-bottom: 20px;    
    float: left; 
}

#pokemonBox{
    background: #ffffff;    
    width: 100%;
    height: 25%;
    border: #316ab2 solid 2px;
}

#pokemonBox #pokemonName{
   position: relative;
   bottom: 15px;

}

#pokemonBox #pokemonRoster{
    position: relative;
    top: 5px;
    margin: 10px;
}

#mainGame{
    height: 100%;
    width: 70%;
    float: left;
}

#battleArea{
    background: url("../assets/images/arenaBackground/BattlegroundBackground.png");
    width: 100%; 
    height: 70%;
    border: #316ab2 solid 2px;
      
}

#enemyStage, #playerStage{
    width: 100%;
    height: 50%;
}

#playerStage #playerPic{
    margin: 15px 40px;
    float: left;
}

#playerStage #playerHP{
    text-shadow: -2px 0 #ffffff, 0 2px #ffffff, 2px 0 #ffffff, 0 -2px #ffffff;
    float: left;
}

#enemyStage #enemyPic{
    margin: 15px 40px;
    float: right;
}

#enemyStage #enemyHP{
    text-shadow: -2px 0 #ffffff, 0 2px #ffffff, 2px 0 #ffffff, 0 -2px #ffffff;
    float: right;
}

#combatLog{
    position: relative;
    top: 10px;
    background: #624f48;
    border: #316ab2 solid 2px;
    width: 100%;
    height: 5%;
}

#combatLog #battleText{
    position: relative;
    left: 10px;
    top: 10px;
    margin: 0;
    padding: 0;
    text-align: left;
}

#btnsContainer{
    position: relative;
    top: 20px;
    background: #f3eeea;
    border: #316ab2 solid 2px;
    width: 100%; 
    height: 20%;
}

#btnsContainer #atkbtn1, 
#btnsContainer #atkbtn2, 
#btnsContainer #atkbtn3, 
#btnsContainer #atkbtn4{
    position: relative;
    top: 20px;
    margin: 0px 8px;
    padding: 15px 30px;
}

#footer{     
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #ffcb05;
    border-top: 2px solid #316ab2;
    text-align: center;
}

#footer #legal{     
    margin: 0 !important;
    font-size: 12px;   
}